/* Common shared styles */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: #FD6E0A;
}

.button-primary{
    border: 0;
    background: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    align-items: center;
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* Header related styles */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-picture{
    width: 350px;
}